.burger-constructor-section {
  display: flex;
  flex-direction: column;
}

.ingredients-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: calc(var(--offset-base-size) * 4);
  overflow-y: auto;
  flex-grow: 1;
}

.drop-allowed {
  outline: 2px dashed #4c4cff;
}

.common-ingredient {
  background-color: var(--background-element);
  max-width: 536px;
  min-height: 80px;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-bun {
  composes: common-ingredient;
  border-top-left-radius: 88px;
  border-top-right-radius: 88px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.ingredient {
  composes: common-ingredient;
  border-radius: 40px;
  flex-grow: 1;
}

.unlocked-ingredients-list {
  composes: ingredients-list;
  overflow-y: auto;
}

.bottom-bun {
  composes: common-ingredient;
  border-bottom-left-radius: 88px;
  border-bottom-right-radius: 88px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.total-price-section {
  display: flex;
  column-gap: calc(var(--offset-base-size) * 10);
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;

  padding-top: calc(var(--offset-base-size) * 10);
}
