.burger-ingredients-section {
  display: flex;
  flex-direction: column;
}

.ingredients-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  list-style: none;
}

.nav-link {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}

.scrollable {
  overflow-y: auto;
}
